<section class="about">
	<%= image_tag("flying.jpg") %>

	<h2>About Us</h2>

	<p>Are you up for fun, adventure, incredible experiences and making new friends?  Are you looking for something to give you the edge in life?  Then welcome to the RAF Air Cadets.  Better known as the 'Air Cadets', we’re a UK-wide cadet force with more than 40,000 members aged between 12 and 20 years.</p>
	<p>We're sponsored by the Royal Air Force and can give you hands-on experience of activities and courses that will challenge and develop your skills to help you succeed in whatever you want to do.  HRH The Duchess of Cambridge is also our Honorary Air Commandant!</p>
	<p>Our aims are to:</p>
	<ul>
	  <li>Promote and encourage a practical interest in aviation and the Royal Air Force among young people</li>
	  <li>Provide training which will be useful in the Services and civilian life</li>
	  <li>Encourage the spirit of adventure and develop qualities of leadership and good citizenship</li>
	</ul>
	<p>As a cadet you'll have the opportunity to do things that others only dream about.  Want real flight experience?  No problem.  How about heading out on adventurous training and camps, sometimes overseas?  Normal for cadets.  Competitive sports, drill, shooting, music, abseiling, engineering projects?  Our list of activities is long, varied and open to all cadets.  Yes it's a challenge, but that's what life's all about.</p>
	<p>We are not a recruiting organisation for the RAF but if you're thinking about a Service career, cadet membership will put you ahead of the competition.  Many cadets go on to great success in the RAF (and the other Services).  Around 40% of officers and 50% of all aircrew (including pilots, navigators and engineers) in the RAF now are ex-cadets.  Research shows that they do better in basic training and stay in the Service longer than their colleagues.  Likewise, if you chose a civilian career our research proves you can go on the great things…  employers just love the skills and experience that air cadets offer.</p>
	<p>Let's face it - where else would you be given the opportunity to fly solo in a glider or powered aircraft when you're 17?  Whatever you do with your life, at the end of your time as a cadet you'll be self-motivated, confident and ready for anything.</p>
</section>	