<main class="forms_container">
	<button class="form_button">
		<%= link_to "Av Med Form", asset_path("avmed.xlsx"), target: "_blank" %>
	</button>
	<button class="form_button">
		<%= link_to "TG21 Cadet Consent Form", asset_path("TG21.doc"), target: "_blank" %>
	</button>
	<button class="form_button">
		<%= link_to "TG22 Staff Consent Form", asset_path("TG22.doc"), target: "_blank" %>
	</button>
	<button class="form_button">
		<%= link_to "TG23 Health Declaration Form", asset_path("TG23.doc"), target: "_blank" %>
	</button>
</main>