<main class="forms_container">
	<%= link_to asset_path("avmed.xlsx"), target: "_blank" do %>
		<button class="form_button">
			<p>Av Med Form</p>
		</button>
	<% end %>

	<%= link_to asset_path("TG21.doc"), target: "_blank" do %>
		<button class="form_button">
			<p>TG21 Cadet Consent Form</p>
		</button>
	<% end %>

	<%= link_to asset_path("TG22.doc"), target: "_blank" do %>
		<button class="form_button">
			<p>TG22 Staff Consent Form</p>
		</button>
	<% end %>

	<%= link_to asset_path("TG23.doc"), target: "_blank" do %>
		<button class="form_button">
			<p>TG23 Health Declaration Form</p>
		</button>
	<% end %>
</main>