<div class="container text-center">
	<h2>Useful Forms</h2>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm">
			<%= link_to asset_path("avmed.xlsx"), target: "_blank" do %>
				<button class="btn btn-block btn-success btn-form">Av Med Form</button>
			<% end %>
		</div>
	
		<div class="col-sm">
			<%= link_to asset_path("TG21.docx"), target: "_blank" do %>
				<button class="btn btn-block btn-success btn-form">TG21 Cadet Consent Form</button>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			<%= link_to asset_path("TG22.doc"), target: "_blank" do %>
				<button class="btn btn-block btn-success btn-form">TG22 Staff Consent Form</button>
			<% end %>
		</div>

		<div class="col-sm">
			<%= link_to asset_path("TG23.doc"), target: "_blank" do %>
				<button class="btn btn-block btn-success btn-form">TG23 Health Declaration Form</button>
			<% end %>
		</div>
	</div>
</div>