<section class="home">

	<%= link_to news_path do %>
		<div class="container">
			<h1>NEWS!  Click here to find out more</h1>
		</div>
	<% end %>

<%= image_tag "maintenance.png", :style => "width: 70%" %>

<!--	<%= image_tag "group.jpg" %> -->
	<div class="container">
		<p>2507 (Bicester) Squadron ATC is open to all young people aged between 13 (or 12 if you've started year eight at school) and 20 who have an interest in aviation and adventure.  Members of the squadron have the chance to learn to fly aerobatics, learn skills to lead expeditions, tour foreign countries, become target shooting marksmen, join a band and learn about aviation and aerospace.  These are only a small list of the many activities and opportunities for an enviable social life with many new friends.  Have a look around our website to find out more.</p>
	</div>
</section>