<section class="join">

 <%= image_tag "join.jpg" %>

<div class="container">
  <section class="join_buttons">

  <button id="cadets-button" class="active-button">Cadets</button>
  <button id="committee-button">Committee</button>
  <button id="staff-button">Staff</button>

  </section>

  <section class="join_tab active-tab" id="cadets">

  	<p>With activities like flying, gliding, shooting, the Duke of Edinburgh award, a marching band, water sports and visits to active Royal Air Force stations, there’s plenty on offer for our air cadets.  You have to be aged 13 (or 12 if you’ve started year eight at school) to join and commit to attending every Tuesday and Thursday evening and some weekends too.</p>

    <p>There is a subscription fee of £10 per month but this covers the vast majority of activities as much of what we offer is funded by the RAF.</p>

    <p>We take new recruits on at certain times of the year, called "Intakes".  This ensures that new cadets join with a group of other new cadets, helping to ease nerves and promote an early sense of camaraderie which is a big part of the corps.  Before you join an intake you'll be invited to come and see the Squadron on an Open Evening, where you'll see first hand what activities we get to, and you'll be given some paperwork to fill out before your first night.  To get involved, head over to our Contact page and get in touch!</p>

    <p>If you’re still not sure, why not have a look around our site to get a feel for all the fantastic things you could be missing out on?</p>

  </section>

  <section class="join_tab" id="staff">

  	<p>Being a member of staff in the Air Training Corps is a rewarding experience; you’ll be devoting some of your spare time to developing the young people in our local community and enabling them to take-up so many fantastic opportunities, such as flying, gliding, shooting and more.  Meanwhile, you’ll be developing your own skills and gaining qualifications; you could end up as a skill at arms instructor, teaching cadets and volunteers how to shoot, you could gain a qualification in expedition leadership, taking cadets on their Duke of Edinburgh award expeditions or you could even become an instructor on our glider fleet, sending cadets on their first solo flights.</p>

    <p>A great deal is expected of our volunteers; you’ll be responsible for the young people in your charge and will need to continually develop your skills to provide them with the opportunities they deserve.  You’ll be expected to attend as many Tuesday and Thursday evenings as you can as well as some weekends.</p>

    <p>If you want to know more about being a member of staff or if you’re interested in joining, it’s time for you to stop reading and get in touch with our commanding officer, Flt Lt Jon Barker.</p>​

  </section>


  <section class="join_tab" id="committee">

  	<p>As well as the obvious military element, there is also an allied civilian structure that effectively acts as the backbone of the organisation.  Civilian Committees determine the running of the ATC from squadron level through to representation on the Air Defence Council.  Each squadron has one, comprised of parents and friends, its role being to assist the squadron’s Commanding Officer, raise funds and ensure the squadron maintains direction.</p>

    <p>As you can imagine, fundraising is a very important aspect as it supports many of our activities.  Most camps and other adventurous pursuits are financed through this fundraising and it's these efforts which help keep the cost of air cadet membership incredibly low.</p>

    <p>Many parents and friends get a great deal of enjoyment and fun out of assisting 'their' squadrons as members of the Civilian Committee.  Committees meet to their own timetable, usually once-a-month, under the direction of a Chairman, Secretary and Treasurer.  Most squadron Civilian Committees will be very pleased to accept offers of extra help - even if you can't commit to regular or long term assistance.</p>

  </section>
</div>