<section class="join">

<%= image_tag "join.jpg" %>

<section class="join_tab" id="cadets">
	<h2>Cadets</h2>
</section>
<section class="join_tab" id="staff">
	<h2>Staff</h2>
</section>
<section class="join_tab" id="committee">
	<h2>Committee</h2>
</section>

</section>