<section class="news">
	<div class="wrapper">
	
		<h1>News!</h1>

		<p>Due to ongoing building works, on Tuesday evenings we will be parading at
			Read house, St Georges Bks, Bicester Garrison Support Unit.  The post code
			for sat-nav users is OX25 1PP.  The building works are due to last for 12
			weeks.   Access will be required through the guard post to get onto the site.  
			Parents dropping off cadets will not need to book into the Guardroom but 
			will be required to have proof of ID with photo (Driving Licence, Passport 
			etc.) to proceed through the barrier.  Cadets must be in possession of their 
			F3822 Record of Service blue book (cadets yet to be enrolled without a F3822 
			will be vouched for by the squadron staff). For those who are unable to 
			transport the cadets to the barracks the squadron minibus will be used as a 
		shuttle to and from the site.</p>

	</div>

	<%= image_tag("read-house-map.png") %>

</section>