.btn-activity {
  position: relative;
  overflow: hidden;
  height: 20vw;
  background-color: #00247D;
}

.btn-activity section {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  background: none;
}

.btn-activity section div, .btn-activity section p {
  background: none;
  margin-bottom: 0;
}

.airborne section {
  background-color: #0061ff;
}

.adventureTraining section {
  background-color: #824500;
}

.community section {
  background-color: #fff200;
}

.shooting section {
  background-color: #006608;
}

.sports section {
  background-color: #e00000;
}

.fieldcraft section {
  background-color: #013800;
}

.leadership section {
  background-color: #0815d1;
}

.camps section {
  background-color: #cc0a81;
}

.firstAid section {
  background-color: #00e203;
}

.dofe section {
  background-color: #c95700;
}

.other section {
  background-color: #ff00d4;
}