/* GLOBAL */

html {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	text-align: center;
	width: 100%;
}

body {
	background-color: #B0D7FE;
}

/* HEADER */

.logo_container {
	width: 15%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.title_container {
	width: 70%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.menu_container {
	width: 15%;
	height: 100%;
	display: inline-block;
}

.menu_button {
	height: 6vh;
	width: 6vh;
	background-image: url(menu.png);
	background-size: cover;
	margin: 1vh auto;
	border-radius: 6px;
	
}

header {
	height: 8vh;
	background-color: #B0D7FE;
}

.logo_image {
	height: 7vh;
	margin-top: 0.5vh;
}

.title_container h1 {
	margin-top: 2.5vh;
	font-size: 1em;
}

.flash {
	margin: 0;
}

/* MENU */

.menu_open {
	background-color: #B0D7FE;
	text-align: center;
	display: none;
	transition: display 2s;
}

.visible {
	display: block;
}

.menu_icon {
	display: inline-block;
	width: 50vw;
	height: 50vw;
}

.menu_icon img {
	width: 60%;
}

.menu_icon h2 {
	font-size: 1.5em;
	margin: 0;
}

.menu_icon a {
	text-decoration: none;
	color: black;
}

nav {
	display: none;
}

/* FOOTER */

footer {
	background-color: #B0D7FE;
	height: 5vh;
}

.footer_left {
	width: 50%;
	float: left;
}

.footer_right {
	width: 50%;
	float: right;
}

footer ul {
	padding-left: 20px;
}

footer li {
	list-style-type: none;
	display: inline;
}

footer a {
	text-decoration: none;
	font-size: 0.6em;
	padding-left: 15px;
	color: black;
}

.footer_left a {
	font-size: 1em;
	padding: 0;
}

footer h6 {
	font-weight: normal;
	font-size: 0.8em;
	margin: 16px auto;
}

.alert {
	width: 90%;
	background-color: red;
	opacity: 0.6;
	color: white;
	font-size: 2em;
	margin: 1vh auto;
	border-radius: 10px;
}

.alert-notice {
	background-color: darkblue;
}

@media only screen and (min-width: 768px) {
	.title_container h1 {
		font-size: 2em;
	}

	footer h6 {
		text-align: left;
		padding-left: 5vw;
	}

	.menu_icon {
		width: 25vw;
		height: 25vw;
	}
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
	.title_container h1 {
		margin: 1.5vh 0;
	}

	.title_container {
		width: 40%;
	}

	.logo_container, .menu_container {
		width: 30%;
	}

	.logo_container {
		text-align: left;
	}

	.logo_container img {
		padding-left: 5vw;
	}

	.menu_button {
		display: none;
	}

	nav {
		display: block;
		font-size: 2.5vh;
		margin-bottom: 2vh;
		padding: 0 !important;
	}

	nav ul {
		margin: 0;
	}

	nav li {
		display: inline-block;
	}

	nav a {
		text-decoration: none;
		color: black;
		padding: 0 1vh;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-radius: 4px;
		transition: background 2s;
		transition: color 1s;
	}

	nav a:hover {
		background: linear-gradient(blue, darkblue, darkblue);
		color: white;
	}

}