/* GLOBAL */

*, body {
  background-color: #5D8AA8;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 0;
}

img {
  width: 100%;
}


/* NAVBAR */

.navbar-light {
  background-color: #5D8AA8;
}

.logo {
  width: 10%;
  padding: 0;
}

.logo img {
  width: 120%;
}

.nav-icon {
  width: 1.5em;
  margin-right: 15%;
  margin-left: 5%;
}

.nav-item {
  font-size: 2em;
}

.nav-item a {
  color: black;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 0.9em;
}

.bottom-logo {
  margin: 0;
  text-align: center;
}

.bottom-logo img {
  width: 80%;
}

/* FOOTER */

.footer a, .footer h6 {
  font-size: 1.2em;
  display: inline;
}

.footer {
  padding: 2% initial;
}