// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_form h1 {
	font-size: 3em;
	margin: 0;
}

.login_form input {
	width: 80vw;
	height: 5vh;
	border-radius: 10px;
	margin: 1vh auto;
	font-size: 2em;
	text-align: center;
}

.login_form input[type="submit"] {
	height: 7vh;
	background-color: #00247D;
	border: 0px;
	color: white;
}

.login_form form {
	padding-bottom: 5px;
}

@media only screen and (orientation: landscape) and (max-width: 900px) {
	.login_form input {
		height: 30px;
	}

	.login_form input[type="submit"] {
		height: 50px;
	}
}

@media only screen and (min-width: 900px) {
	.login_form {
		width: 40%;
		margin: 20px auto;
	}

	.login_form input, .login_form input[type="submit"] {
		width: 80%;
		height: 40px;
		margin: 7px auto;
	}
}