<section class="activities_container">
	<h1>All Activities</h1>

	<ul id="activities">
		<% @my_activities = Activity.order('activity_date ASC') %>
	  <% @my_activities.each do |activity| %>
	    <li>
	    	<section class="button_container">
		      <%= link_to activity.title, activity_path(activity) %>
		      <%= activity.activity_date %>
		     </section>
	    </li>
	  <% end %>
	</ul>

	<% @user = current_user %>
	<% if @user.user_type == "admin" %>
		<%= link_to "Create a new activity", new_activity_path %>
	<% end %>
</section>